---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Datos Abiertos | Red Ciudadana</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element px-2">
			<div class="container" style="padding: 20px 0;">
				<div class="row align-items-center my-5">
                    <div class="col-lg-6">
                        <img src="/assets/img/slider/DATOS ABEIRTOS RED-55.png">
                        <br><br>
                        <p class="text-white px-2">Datos para el desarrollo</p>
                    </div>
                    <div class="col-lg-6">
                        <img src="/assets/img/slider/DATOS ABEIRTOS RED-42.png">
                    </div>
                </div>
			</div>
        </section>


        <!-- Lineas de Accion
        ============================================= -->

        <section class="px-2" style="background-color: #fff;">
            <div class="container clearfix ">
                <div class="row py-6">
                    <div class="col-lg-12">
                        <h2 class="text-titles">Lineas de acción</h2>
                    </div>
                    <div class="col-lg-4 my-4 text-center">
                        <div class="cuadros-lineas-accion">
                            <img style="margin: auto; padding-block: 10px; width: 130px;height: 150px;" src="/assets/img/iconosv2/DATOS ABEIRTOS RED-43.png">
                            <h3>Formación</h3>
                            <p>
                                La plataforma ofrecerá un espacio de capacitación continua, enfocada en proporcionar conocimientos y habilidades sobre la apertura de datos. Se brindarán talleres, manuales y tutoriales accesibles y actualizados.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <div class="cuadros-lineas-accion">
                            <img style="margin: auto; padding-block: 10px; width: 130px;height: 150px;" src="/assets/img/iconosv2/DATOS ABEIRTOS RED-44.png">
                            <h3>Asistencia Técnica</h3>
                            <p>
                                Apoyar a las instituciones públicas en la implementación de iniciativas de datos abiertos, proporcionando recursos y soluciones a medida para las necesidades de cada entidad.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <div class="cuadros-lineas-accion">
                            <img style="margin: auto; padding-block: 10px; width: 130px;height: 150px;" src="/assets/img/iconosv2/DATOS ABEIRTOS RED-45.png">
                            <h3>Mediciones</h3>
                            <p>
                                Para evaluar el impacto y el progreso de las iniciativas de datos abiertos en las instituciones gubernamentales, se establecerán métricas clave y herramientas de evaluación.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Cifras Destacadas
        ============================================= -->

        <!-- <section class="px-2">
            <div class="container clearfix ">
                <div class="row py-6">

                    <div class="col-lg-12 text-center mb-4">

                        <h1 class="text-titles3">Descubre cómo estamos simplificando los trámites para mejorar tu vida cotidiana.</h1>
                    </div>
                    
                    <div class="col-lg-4 border-right-res">
                        <h2 class="text-titles4 mb-0">Cifras destacadas</h2>
                        <h1 style="font-size: 140px;font-family: 'Metropolis-Bold',sans-serif;font-weight: 800; line-height: 150px;">70%</h1>
                        <h2 class="text-titles4">Trámites digitales</h2>
                    </div>

                    <div class="col-lg-8" style="padding-left: 20px;">
                        <div class="row " >
                            <div class="col-lg-4 my-4 ">
                                <span>1,300</span>
                                <h3 class="text-titles3">Trámites</h3>
                                <p>Con clave única para autenticación</p>
                            </div>
                            <div class="col-lg-4 my-4">
                                <span>50</span>
                                <h3 class="text-titles3">Instituciones</h3>
                                <p>Con coordinador de transformación digital</p>
                            </div>
                            <div class="col-lg-4 my-4">
                                <span>300</span>
                                <h3 class="text-titles3">Oficinas de Partes</h3>
                                <p>Utilizando Doc digital</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section> -->

        <!-- Transformacion Digital
        ============================================= -->

        <section class="px-2" style="background-color: #e9f0f8;">
            <div class="container clearfix ">
                <div class="row py-6">
                    
                    <div class="col-lg-12 text-center mb-4">

                        <h1 class="text-titles">Componentes Principales</h1>

                        <!-- <a href="#" class="btn">Ir a productos <i class="fa-solid fa-right-long"></i></a> -->
                    </div>

                    {% for trans in collections.transformacion%}

                    <div class="col-lg-4 my-4 text-center">
                        <a href="{{trans.url}}"><div class="cuadro_plataformas">
                            <img src="{{trans.data.image}}">
                            <h2 class="text-titles hover_white">{{trans.data.title}}</h2>
                            <p>{{trans.data.description}}</p>
                        </div></a>
                    </div>

                    {% endfor %}


                </div>
            </div>
        </section>

        <!-- Iniciativas de gobierno
        ============================================= -->

        <section class="px-2">
            <div class="container clearfix ">
                <div class="row py-6 justify-content-center">
                    <div class="col-lg-12 text-center my-4">
                        <h1 class="text-titles3 mb-4">Iniciativas de datos abiertos</h1>
                    </div>
                    
                    <div class="col-lg-3 d-flex align-items-center">
                        <a href="https://datos.minfin.gob.gt/ "><img src="https://www.minfin.gob.gt/images/img_portal/MINFIN-2024-2028_AZUL_01.png"></a>
                    </div>

                    <div class="col-lg-3 d-flex align-items-center">
                        <a href="https://datosabiertos.mspas.gob.gt/"><img src="https://datosabiertos.mspas.gob.gt/uploads/admin/2024-05-31-170842.117705mspas-logo-2024.jpg"></a>
                    </div>

                    <div class="col-lg-3 d-flex align-items-center">
                        <a href="https://datosabiertos.mineduc.gob.gt/"><img src="https://edu.mineduc.gob.gt/images/banner/logo_mineduc.jpg"></a>
                    </div>

                    <!-- <div class="col-lg-3 d-flex align-items-center">
                        <a href="https://datos.marn.gob.gt/"><img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Logotipo-MARN-2024-2028_AZUL_H.png"></a>
                    </div> -->

                    <div class="col-lg-3 d-flex align-items-center">
                        <a href="https://datos.segeplan.gob.gt/"><img src="https://portal.segeplan.gob.gt/segeplan/wp-content/uploads/2024/01/Logo-SEGEPLAN-2024.jpg"></a>
                    </div>

                    <div class="col-lg-3 d-flex align-items-center">
                        <a href="https://datos.ine.gob.gt/"><img src="https://www.ine.gob.gt/ine/wp-content/uploads/2017/09/inelogo.png"></a>
                    </div>

                    <div class="col-lg-3 d-flex align-items-center">
                        <a href="https://datos.conred.gob.gt/"><img style="width: 120px; height: auto;" src="https://conred.gob.gt/wp-content/uploads/CONREDLOGO.png"></a>
                    </div>
                    

                </div>
            </div>
        </section>

        <!-- Videos
        ============================================= -->

        <section class="px-2"  style="background-color: #e8f0f9;">
            <div class="container clearfix ">
                <div class="row py-6">

                    <div class="col-lg-12 text-center mb-4">

                        <h1 class="text-titles3 mb-4">Descubre más sobre nuestra transformación digital a través de nuestros últimos videos.</h1>

                    </div>

                    {% for video in collections.videos | limit(2) | reverse %}
                    
                    <div class="col-lg-6 text-center">
                        <iframe width="560" height="315" src="{{video.data.link | safe}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    {% endfor %}




                </div>
            </div>
        </section>

        <!-- Suscribete
        ============================================= -->

        <!-- <section class="px-2" style="background-color: #e8f0f9;">
            <div class="container clearfix ">
                <div class="row py-6">
                    
                    <div class="col-lg-12 text-center">
                        <h2 class="text-titles">Suscribete</h2>
                        <p>Unete a nuestro newsletter para recibir las noticias</p>
                        <a class="btn" href="https://share.hsforms.com/10OfFUGCZQei9SH-EpuKX5wrhae7" target="_blank">Unirse</a>
                    </div>

                </div>
            </div>
        </section> -->

        <section class="px-2" style="background-color: #fff;">
            <div class="container clearfix ">
                <div class="row py-6 justify-content-center">
                    
                    <div class="col-lg-8 text-center">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 my-4 text-center">
                                <img src="/assets/img/footer1.png" style="width: 400px; height: auto;">
                            </div>
                            <div class="col-lg-6 my-4 text-center">
                                <img src="/assets/img/footer2.png" style="width: 400px; height: auto;">
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>


{% endblock %}

{% block body_javascripts %}

{% endblock %}